#SectionMenuDashBoard {
  height: 100%;
  width: 80px;
  background-color: var(--secundary-color);
  transition: all 0.3s;
  padding: 15px;
  border-right: solid 1px var(--secundary-color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .headerMenu {
    display: flex;
    gap: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: solid 2px var(--secundary-color-light);

    .mainIcon {
      position: relative;
      width: 50px;
      height: 50px;
      padding: 10px;
      transition: all 0.3s;
    }

    .logo {
      width: 100px;
    }
  }

  .bodyMenu {
    .menuOptionPage {
      display: flex;
      align-items: center;
      gap: 15px;
      color: var(--tertiary-color);
      overflow-x: hidden;
      text-decoration: none;
      margin-bottom: 15px;

      .containerIcon {
        flex-shrink: 0;
        width: 48px;
        height: 48px;
        border: solid 2px var(--tertiary-color);
        border-radius: 15px;
        padding: 10px;
        transition: all 0.3s;

        .icon {
          width: 100%;
        }
      }

      .containerText {
        flex-shrink: 0;
      }

      &.active,
      &:hover {
        .containerIcon {
          background-color: var(--tertiary-color);
          color: var(--secundary-color-light);
        }
      }
    }
  }

  .footerMenu {
    padding-top: 15px;
    border-top: solid 2px var(--secundary-color-light);

    .buttonChangeThemeMode {
      cursor: pointer;
      display: flex;
      align-items: center;
      overflow-x: hidden;
      width: 100%;
      border: none;
      padding: 0;
      margin-bottom: 15px;
      background-color: transparent;
      gap: 15px;

      .icon {
        width: 48px;
        height: 48px;
        border: solid 2px var(--tertiary-color);
        border-radius: 15px;
        padding: 10px;
        background-color: var(--secundary-color);
        color: var(--tertiary-color);
        transition: all 0.3s;
      }

      .containerText {
        flex-shrink: 0;
        font-size: 1rem;
      }

      &:hover {
        .icon {
          background-color: var(--tertiary-color);
          color: var(--secundary-color);
        }
      }
    }

    .containerAvatar {
      display: flex;
      text-decoration: none;
      align-items: center;
      overflow-x: hidden;
      gap: 15px;
      color: black;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: bolder;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-color: var(--primary-color);
        flex-shrink: 0;
        transition: all 0.3s;
      }

      .containerName {
        flex-shrink: 0;
      }

      &:hover {
        .icon {
          background-color: var(--primary-color-darker);
        }
      }
    }
  }

  &:hover {
    width: 250px;

    .headerMenu {
      .mainIcon {
        rotate: 90deg;
      }
    }
  }
}
